.zselect {
        margin: 0 0 1rem 0;
        -webkit-appearance: none !important;
        background: #fafafa url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
	background-position: 97% center;
        /*background-position-x: 97%;
        background-position-y: center;*/
        border: 1px solid #cccccc;
        padding: 0.70rem;
        font-size: 0.77778rem;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        
    }
.zselect ul{
        position:absolute;
        background-color:#fafafa;
        border: 1px solid #cccccc;
        border-top:none;
        padding:0;
        
        margin:11px 0 0 -0.76rem;
        z-index:10;
        list-style-type: none;
        display:none;
        
}
.zselect span.zmshead{
        font-size: 0.9rem;
}
.zselect ul li{
        display: table;
        width:100%;
        padding:4px 0.70rem 0px 0.70rem;
        font-size:0.9rem;
}
.zselect ul li span{
        
        
}
.zselect ul li.disabled{
        color:#808080;
}
.zselect ul li:hover{
        background-color:#2672EC;
        color: #fff;
}
.zselect ul li.zmsfilter,
.zselect ul li.zmsfilter:hover,
.zselect ul li.filterResult,
.zselect ul li.filterResult:hover,
.zselect ul li.optgroup,
.zselect ul li.optgroup:hover{
        background-color:transparent;
        color: #000;
       
}
.zselect ul li.zmsfilter input{
        margin-bottom:0.3rem;
}
.zselect ul li input[type='checkbox']{ 
        padding:0;
        margin:0;
        display:table-cell;
        margin-right: 4px;
} 
.zselect ul li.filterResult{
        font-size: 0.8em;
}

.zselect ul li.optgroup{
    font-weight: bold;
    cursor:pointer;
}
.zselect ul li.selectall{}
.zselect ul li.deselectall{}